# the url of ATSD including port number
url=http://host_name:port_number

# the user name
user=atsd_user_name

# the user's password
password=atsd_user_password

# validate ATSD SSL certificate: yes, no
verify=no

# cryptographic protocol used by ATSD https server:
# default, ssl2, ssl3, tls1
encryption=ssl3

